* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    margin: 100px auto;
    border: 2px solid;
    padding: 8px;
    background-color: steelblue;
    gap: 4px;
}

.display {
    display: flex;
    flex: 1;
    height: 100px;
    border: 2px solid;
    background-color: azure;
    margin-bottom: 8px;
}

.display p {
    flex: 1;
    text-align: right;
    align-self: flex-end;
    padding-right: 4px;
    font-size: 36px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 4px;
}

button {
    flex: 1;
    font-size: 24px;
    border-radius: 8px;
}

.digit {
    background-color: lightgray;
}

.equal {
    background-color: lightcoral;
}
